<div class="container device">
  <div class="regist-frame">
    <%= render "devise/shared/error_messages", resource: resource %> <!-- deviseエラーメッセージ -->
    <p class="my-4">新しいアカウントを作成</p>
    <div class="regist-inner">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field form-row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.text_field :user_name, class: "form-control col-10 px-2", placeholder: "ユーザー名" %>
        </div>

        <div class="field form-row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.email_field :email, class: "form-control col-10 px-2", placeholder: "メールアドレス" %>
        </div>

        <div class="field form-row">
          <div class="col-2 required-b pt-2"></div>
          <% if @minimum_password_length %>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-10 px-2", placeholder: "パスワード" %>
        </div>

        <div class="field form-row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-10 px-2", placeholder: "パスワード確認"%>
          <span class="pass-caution letter-up">※パスワードは「半角英数字」「記号」を使用し、</span>
          <span class="pass-caution letter-down">7文字以上で作成してください。</span>
        </div>

        <div class="actions">
          <%= f.submit "新しいアカウントを作成", class: "form-control btn-primary my-4 hover-opacity" %>
        </div>
      <% end %>
      <%= link_to "既にアカウントをお持ちの方はログイン", new_user_session_path, class: "hover-opacity" %><br>
    </div>
  </div>
</div>
